* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


// src/styles.scss
html {
    // უზრუნველყოფს, რომ ფონი ყოველთვის ბოლომდე ჩავიდეს
    height: 100%; 
}
body {
  margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #080808;
    
    // ბადის სტილი
    background-image: 
        linear-gradient(rgba(197, 160, 89, 0.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(197, 160, 89, 0.05) 1px, transparent 1px);
    background-size: 80px 80px;
    color: #f5f5f5;
}
